<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>zixue101.$(PRODUCT_NAME:rfc1034identifier)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2015年 com.zixue101.www. All rights reserved.</string>
	<key>NSPrincipalClass</key>
	<string>ZLGotoSandbox</string>
	<key>XCGCReady</key>
	<true/>
	<key>XC4Compatible</key>
	<true/>
	<key>XC5Compatible</key>
	<true/>
	<key>XCPluginHasUI</key>
	<false/>
	<key>DVTPlugInCompatibilityUUIDs</key>
	<array>
		<string>A2E4D43F-41F4-4FB9-BB94-7177011C9AED</string>
		<string>AD68E85B-441B-4301-B564-A45E4919A6AD</string>
		<string>C4A681B0-4A26-480E-93EC-1218098B9AA0</string>
	</array>
	<key>LSApplicationCategoryType</key>
	<string></string>
</dict>
</plist>
